# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
**/xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
.build/

# Logs
*.log

# macOS
.DS_Store

# User-specific files
*.swp
*.env
